<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Add Password</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>🫧 Save Password</h1>

    <p class="subtitle">
        Store your treasures safely
    </p>

    <div class="sea-icons">
        🪸 🐚 🌊 ⭐
    </div>

    <form method="POST">

        <input type="text"
               name="website"
               placeholder="Website / App Name"
               required>

        <input type="password"
               name="password"
               placeholder="Password"
               required>

        <button type="submit">
            🐠 Save Securely
        </button>

    </form>

    <div class="links">

        <a href="/dashboard">
            ⬅ Back to Dashboard
        </a>

    </div>

</div>

</body>
</html>